<div class="row pt-4">
    <div class="col">
        {{ form.name.label }}
        <div class="form-field">{{ form.name(size=12) }}</div>
    </div>
    <div class="col">
        {{ form.pp.label }}
        <div class="form-field">{{ form.pp() }}</div>
    </div>
    <div class="col">
        {{ form.attack_type.label }}
        <div class="form-field">{{ form.attack_type() }}</div>
    </div>
    <div class="col">
        {{ form.save.label }}
        <div class="form-field">{{ form.save() }}</div>
    </div>
    <div class="w-100 d-none d-md-block"></div>
    <div class="col">
        {{ form.power.label }}
        <div class="form-field">{{ form.power() }}</div>
    </div>
    <div class="col">
        {{ form.type.label }}
        <div class="form-field">{{ form.type() }}</div>
    </div>
    <div class="col">
        {{ form.concentration.label }}
        <div class="form-field">{{ form.concentration() }}</div>
    </div>
    <div class="col">
            <div class="row no-gutters">
            <a href="?filter=clear" class="text-center text-nowrap">Rest Filters</a>
                </div>
        <div class="row no-gutters">
            {{ form.filter(class_="btn btn-primary") }}
            </div>
    </div>
</div>