<datalist id="pkmn-list">
    {% for pkmn in pokemon %}
	<option>{{pkmn}}</option>
    {% endfor %}
</datalist>
<div class="row pt-4">
    <div class="col">
        {{ form.species.label }}
        <div class="form-field">{{ form.species(size=12, class="species-field", list="pkmn-list") }}</div>
    </div>
    <div class="col-1">
        {{ form.tm.label }}
        <div class="form-field">{{ form.tm(class="enable-after-species", disabled="") }}</div>
    </div>
    <div class="col-1">
        {{ form.egg.label }}
        <div class="form-field">{{ form.egg(class="enable-after-species", disabled="") }}</div>
    </div>
    <div class="col-1">
        {{ form.level.label }}
        <div class="form-field">{{ form.level(class="enable-after-species", disabled="") }}</div>
    </div>
    <div class="col-1">
        {{ form.start.label }}
        <div class="form-field">{{ form.start(class="enable-after-species", disabled="") }}</div>
    </div>
</div>